<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Add to Cart Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c7cbad">  <td>18/07/04 11:00:47</td>   <td>0</td> <td title="&gt;&gt;Page.setUp()[pri:0, instance:com.VM.testcases.ProductAddCartTest@29ca901e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@120694604</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>18/07/04 11:03:05</td>   <td>137693</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProductAddCartTest.addCart()[pri:0, instance:com.VM.testcases.ProductAddCartTest@29ca901e]">addCart</td> 
  <td>main@120694604</td>   <td></td> </tr>
<tr bgcolor="79f379">  <td>18/07/04 11:03:15</td>   <td>147832</td> <td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.VM.testcases.ProductAddCartTest@29ca901e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@120694604</td>   <td></td> </tr>
</table>
