<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e2cbe0">  <td>18/07/12 12:36:36</td>   <td>0</td> <td title="&gt;&gt;Page.setUp()[pri:0, instance:com.VM.testcases.ProductAddCartTest@64bfbc86]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1740189450</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>18/07/12 12:37:04</td>   <td>27897</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProductAddCartTest.addCart()[pri:1, instance:com.VM.testcases.ProductAddCartTest@64bfbc86]">addCart</td> 
  <td>main@1740189450</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>18/07/12 12:37:20</td>   <td>43898</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProductAddCartTest.verifyAddToBagDisbaledWithoutSelectSize()[pri:2, instance:com.VM.testcases.ProductAddCartTest@64bfbc86]">verifyAddToBagDisbaledWithoutSelectSize</td> 
  <td>main@1740189450</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>18/07/12 12:37:30</td>   <td>54075</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProductAddCartTest.demo()[pri:3, instance:com.VM.testcases.ProductAddCartTest@64bfbc86]">demo</td> 
  <td>main@1740189450</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>18/07/12 12:37:35</td>   <td>58307</td> <td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.VM.testcases.ProductAddCartTest@64bfbc86]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1740189450</td>   <td></td> </tr>
</table>
