<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Add to Cart</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8486a3">  <td>18/07/04 08:36:22</td>   <td>0</td> <td title="&gt;&gt;Page.setUp()[pri:0, instance:com.VM.testcases.ProductAddCartTest@57e1b0c]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1253946629</td>   <td></td> </tr>
<tr bgcolor="6e648a">  <td>18/07/04 08:36:34</td>   <td>12045</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProductAddCartTest.addCart()[pri:0, instance:com.VM.testcases.ProductAddCartTest@57e1b0c]">addCart</td> 
  <td>main@1253946629</td>   <td></td> </tr>
<tr bgcolor="96e697">  <td>18/07/04 08:36:45</td>   <td>23293</td> <td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.VM.testcases.ProductAddCartTest@57e1b0c]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1253946629</td>   <td></td> </tr>
</table>
