<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="99f37e">  <td>18/07/04 14:32:01</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProductAddCartTest.addCart()[pri:0, instance:com.VM.testcases.ProductAddCartTest@6adede5]">addCart</td> 
  <td>main@522764626</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>18/07/04 14:31:50</td>   <td>-10947</td> <td title="&gt;&gt;Page.setUp()[pri:0, instance:com.VM.testcases.ProductAddCartTest@6adede5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@522764626</td>   <td></td> </tr>
<tr bgcolor="fcfece">  <td>18/07/04 14:32:11</td>   <td>10021</td> <td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.VM.testcases.ProductAddCartTest@6adede5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@522764626</td>   <td></td> </tr>
</table>
